[*]
end_of_line = lf
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[input.txt]
insert_final_newline = false

[{Makefile,*.go}]
indent_style = tab

[{*.md,*.yml}]
tab_width = 2
